.container {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: auto;
    width: 80vw;
    background-color: whitesmoke;
    border: solid 1px grey;
    margin: 10vh 5vw;
  }
  .chart {
    height: 250px;
    background-color: white;
    margin: 10px;
    border: solid 1px grey;
  }
  